# Каталоги сборки CMake
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
*.cmake

# Артефакты компиляции
*.o
*.obj
*.lo
*.slo
*.gch
*.pch

# Бинарные файлы и библиотеки
*.exe
*.out
*.app
*.a
*.lib
*.so
*.dylib
*.dll
*.lai
*.la

# Прочие временные файлы
*.d
*.mod
*.smod

# Каталоги для исполняемых файлов и библиотек (если используются)
bin/
lib/

# Файлы и каталоги, создаваемые Ninja
*.ninja
.ninja_deps
.ninja_log

# Каталоги и файлы IDE (например, CLion, Visual Studio)
.idea/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Логи и временные файлы
*.log
